body {
    background-color: lightgray;
    display: flex;
    height: 100vh;
    flex-direction: column;
}

header {
    display: flex;
    height: 40vh;
    justify-content: center;
    align-items:center;
    font-size: 30px;
}

main {
    display: flex;
    height: 40vh;
    flex-direction: column;
    row-gap: 20px;
    align-items:center;
    font-size: 20px;
}
